/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a {
  color: #000;
  text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body{
  font-size: 0.0694vw;
}
@media screen and (min-width : 1440px){
  html,body{
    font-size: 1px;
  } 
}





/* INTRO PAGE */
.intro-board{
  position: relative;
  width: 1280em;
  height: 600em;
  margin: 0 auto;
  border: 2px solid palevioletred;
  border-radius: 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url('./background_pattern.jpg');
}

.box1 {
  position: absolute;
  width: 500em;
  height: 500em;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100rem;
  background: rgb(255, 255, 255, .8);
  border: 1px solid #fff;
}
.box1 h1 {
  font-size: 40em;
  font-weight: 1000;
  margin: 1.5em;
  text-align: center;
}
.box1 h1 > span {
  color: palevioletred;
}

.box1 .box2 {
  position: absolute;
  width: 300em;
  height: 200em;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.box1 .box2 .name-write {
  position: relative;
  height: 60em;
}
.box1 .box2 .name-write .input {
  position: absolute;
  left: 7%;
  padding: 1em;
  border: 2px solid palevioletred;
}
.box1 .box2 .name-write .player-add {
  position: absolute;
  right: 7%;
  padding: 1em 1.2em;
  border: 2px solid palevioletred;
  border-radius: 20px;
  background: #fff;
  color: palevioletred;
}

.box1 .box2 .player-name {
  display: inline-block;
  position: relative;
  height: 150em;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
}
.box1 .box2 .player-name ul {
  text-align: center;
}
.box1 .box2 .player-name ul li {
  font-size: 17em;
  margin-top: 1em;
}
.box1 .box2 .player-name .btn_reset {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #888;
  border-radius: 5px;
  padding: .5em;
  margin-top: 2em;
  font-size: 8em;
  background: #fff;
}

.box1 .btn_start{
  display: inline-block;
  position: absolute;
  bottom:10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10rem 30rem;
  background: #fff;
  border: 2px solid palevioletred;
  border-radius: 30rem;
}
.box1 .btn_start a {
  font-size: 1.5em;
  font-weight: 600;
  color: palevioletred;
}
.box1 .btn_start:hover{
  background: rgb(223, 50, 107);
}
.box1 .btn_start:hover a {
  color: #fff;
}





/* MAIN PAGE */
.l-board{
  position: relative;
  width: 1280em;
  height: 600em;
  margin: 0 auto;
  border: 2px solid palevioletred;
  border-radius: 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.l-player-area{
  width: 500em;
  padding: 100em 50em;
}
.l-player-area img{
  display: block;
  width: 300em;
  margin: 0 auto;
} 
.l-player-p1{

}
.totalcount{
  margin-top: 80rem;
  font-size: 30em;
  text-align: center;
}
.totalcount span{
  display: inline-block;
  padding-top: 10rem;
}
.dice{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30em;
}
.dice_print{
  display: block;
  text-align: center;
  padding: 20rem 30rem;
  margin-top: 10rem;
  border: 1px solid palevioletred;
  border-radius: 10rem;
}
.btn_dice{
  display: inline-block;
  position: absolute;
  top:20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15rem 30rem;
  font-size: 25em;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10rem;
}
.btn_hold{
  display: inline-block;
  position: absolute;
  bottom:20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15rem 30rem;
  font-size: 25em;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 10rem;
}