/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
a {
  color: #000;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 반응형 size set */
html,
body {
  font-size: 0.0694vw;
}
@media screen and (min-width: 1440px) {
  html,
  body {
    font-size: 1px;
  }
}

/* layout */
.l-wrap {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.l-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.l-layerpop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 1);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s, z-index 0.5s 0.1s;
}
.l-layerpop.s-hidden {
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}

/* INTRO PAGE */
.intro-board {
  position: relative;
  width: 1280em;
  height: 600em;
  margin: 0 auto;
  border: 2px solid palevioletred;
  border-radius: 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("./images/background_pattern.jpg");
}

.box1 {
  position: absolute;
  width: 500em;
  height: 500em;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 100rem;
  background: rgb(255, 255, 255, 1);
  border: 1px solid #fff;
}
.box1 h1 {
  font-size: 45em;
  font-weight: bold;
  margin: 1.2em;
  text-align: center;
}
.box1 h1 > span {
  color: palevioletred;
}

.box1 .box2 {
  position: absolute;
  width: 300em;
  height: 200em;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.box1 .box2 .name-write {
  position: relative;
  height: 50em;
}
.box1 .box2 .name-write .input {
  position: absolute;
  left: 7%;
  padding: 0 13rem;
  font-size: 15rem;
  width: 55%;
  height: 100%;
  border: 1px solid palevioletred;
}
.box1 .box2 .name-write .player-add {
  position: absolute;
  right: 7%;
  padding: 0 5rem;
  font-size: 30rem;
  width: 17%;
  height: 100%;
  border: 1px solid palevioletred;
  border-radius: 25px;
  background: #fff;
  color: palevioletred;
}
.box1 .box2 .name-write .player-add:hover {
  color: #fff;
  background: palevioletred;
}

.box1 .box2 .player-name {
  display: inline-block;
  position: relative;
  top: 20em;
  height: 150em;
  width: 300em;

  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
}
.box1 .box2 .player-name ul {
  text-align: center;
}
.box1 .box2 .player-name ul li {
  font-size: 17rem;
  margin-top: 1em;
}
.box1 .box2 .player-name .btn_reset {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #888;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 2em;
  font-size: 8em;
  background: #fff;
}

.box1 .btn_start {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10rem 30rem;
  background: #fff;
  border: 2px solid palevioletred;
  border-radius: 30rem;
  font-size: 25rem;
  font-weight: 600;
  cursor: pointer;
}
.box1 .btn_start a {
  color: palevioletred;
}
.box1 .btn_start:hover {
  background: rgb(223, 50, 107);
}
.box1 .btn_start:hover a {
  color: #fff;
}

/* MAIN PAGE */
.board-area {
  position: relative;
  width: 1280em;
  min-height: 500em;
  margin: 0 auto;
  border: 2px solid palevioletred;
  border-radius: 20em;
}
.control-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100rem 0 0;
  font-size: 25em;
}
.btn-dice,
.btn-hold {
  display: inline-block;
  min-width: 8em;
  height: 2.8em;
  padding: 0 1.2em;
  font-size: 1em;
  border: 1px solid #000;
  border-radius: 2em;
}
.btn-dice {
  cursor: pointer;
  background: #000;
  color: #fff;
}
.btn-dice:hover {
  background: rgb(223, 50, 107);
  border-color: #fff;
}
.btn-hold {
  cursor: pointer;
  background: #fff;
  color: #000;
}
.btn-hold:hover {
  color: #fff;
  background: rgb(223, 50, 107);
  border-color: #fff;
}

.dice > span {
  display: block;
  text-align: center;
}
.dice-txt {
  font-size: 1.2em;
}
.dice-num {
  margin-top: 20rem;
  padding: 20rem 30rem;
  font-size: 1.2em;
  border: 1px solid palevioletred;
  border-radius: 10rem;
}
.dice-num__txt {
  display: block;
  text-align: center;
  margin-top: 10rem;
}
.player {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50em 50em;
}
.player-list {
  position: relative;
  max-width: 10em;
  padding: 1em 0.6em 0.6em;
  font-size: 30em;
}
.player-list.active::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  width: 0.8em;
  height: 2.2em;
  background: url("./images/arrow.gif") no-repeat center;
  background-size: 100% auto;
  filter: grayscale(100%);
}
.player-list img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.player-name {
  display: block;
  margin-top: 1em;
  text-align: center;
  font-size: 0.88em;
}
.total-count {
  display: block;
  margin-top: 3rem;
  font-size: 1em;
  text-align: center;
}
.totalcount span {
  display: inline-block;
  padding-top: 10rem;
}
